.container {
	align-items: center;
}

.faces {
	margin: 20px;
	border: 1px solid #ccc;
	float: left;
	align-content: center;
	width: 200px;
	height: 220px;
}

.faces:hover {
	border: 1px solid #777;
}

.faces p {
	width: 100%;
	height: auto;
	text-align: center;
	font-size: 24px;
	width: "600";
}

.desc {
	padding: 5px;
	text-align: left;
}
